<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">


	<!-- 用户信息放入到session 的键的名字 -->
	<context-param>
		<param-name>userSessionKey</param-name>
		<param-value>USERSESSIONKEY</param-value>
	</context-param>
	
	<!--  若未登录，需重定向的页面 -->
	
	<context-param>
		<param-name>rediretPage</param-name>
		<param-value>/login/login.jsp</param-value>
	</context-param>
	
	<!--  不需要拦截或检查的URL列表 -->
	<context-param>
		<param-name>uncheckUrls</param-name>
		<param-value>/login/a.jsp,/login/login.jsp,/login/list.jsp,/login/doLogin.jsp</param-value>
	</context-param>
	
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>com.atguigu.javaweb.login.LoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>loginFilter</filter-name>
		<url-pattern>/login/*</url-pattern>
	</filter-mapping>
</web-app>